node_modules
.DS_Store
.env
.idea
.openzeppelin
/keys*.json
/networks.json

# Hardhat files
/cache
/artifacts
/ignition/deployments/
/ignition/parameters/

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
