node_modules
.DS_Store
.env
.idea
.openzeppelin
/contracts.json
/keys.json
/networks.json
/ignition/parameters*.json

# Hardhat files
/cache
/artifacts
/ignition/deployments/

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
